#id_title {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

#id_blog {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}