{% extends "index.html" %}

{% block content %}
    <h1>Search Results</h1>
    <div class="d-flex justify-content-around m-4 flex-wrap align-content-between">
        {% for items in data %}
        <div class="card shadow rounded m-3" style="width: 18rem; height: 25rem">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{items.title}}</h5>
            <a href="/playground/blogs/{{items.id}}" class="btn btn-primary">Read More...</a>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock content %}


